<div class="top">

	<img src="/assets/Collage_Fotor5.jpg">

	<div><%= link_to 'USER', new_user_registration_path, class:"top-button" %></div>
	<div class="top-button2"><%= link_to 'STYLIST', new_stylist_registration_path %></div>
</div>


</div>