<div class="container">



<h1>STYLISTs</h1>

<% @stylists.each do |stylist| %>

<%= attachment_image_tag stylist, :stylist_image, :fill, 100, 100, format: 'jpeg', fallback: "/assets/ooo.jpeg" %> 


  <%=link_to stylist.stylist_name , stylist_path(stylist) %>さん</a>
  <hr>
  <% end %>
	
</div>
