<!-- モーダルエリアここから -->
<section id="open-sign-up" class="modalarea">
  <div id="modalbg" class="modalbg"></div>
  <div class="modalwrapper">
    <div class="modalcontents">
<!--モーダルエリアここまで -->

  <div class="container">
      <h2 class="modalh2">WELCOME TO Belle</h2>
      <h3>SIGN UP</h3>

<form class="new_stylist" id="new_stylist" action="/stylists" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="QFtz4Ocw6slu76jaDZVUcIVNwAgmTsG4jrHlUmsqryL3Lvn8KSnyvXr3KrOI3T5oi56FasvXMEodcEO7aN55xQ==" />
  


  <div class="field">
    <label for="stylist_stylist_name">Stylist name</label><br />
    <input autofocus="autofocus" type="text" name="stylist[stylist_name]" id="stylist_stylist_name" />
  </div>

  <div class="field">
    <label for="stylist_salon_name">Salon name</label><br />
    <input autofocus="autofocus" type="text" name="stylist[salon_name]" id="stylist_salon_name" />
  </div>

  <div class="field">
    <label for="stylist_stylist_age">Stylist age</label><br />
    <input autofocus="autofocus" type="text" name="stylist[stylist_age]" id="stylist_stylist_age" />
  </div>



  <div class="field">
    <label for="stylist_email">Email</label><br />
    <input autofocus="autofocus" autocomplete="email" type="email" value="" name="stylist[email]" id="stylist_email" />
  </div>

  <div class="field">
    <label for="stylist_password">Password</label>
    <em>(6 characters minimum)</em>
    <br />
    <input autocomplete="new-password" type="password" name="stylist[password]" id="stylist_password" />
  </div>

  <div class="field">
    <label for="stylist_password_confirmation">Password confirmation</label><br />
    <input autocomplete="new-password" type="password" name="stylist[password_confirmation]" id="stylist_password_confirmation" />
  </div>

  <div class="actions">
    <input type="submit" name="commit" value="Sign up" data-disable-with="Sign up" />
  </div>
</form>
  <a href="/stylists/sign_in">Log in</a><br />



<!-- モーダルエリアここから -->
    </div>
    <div id="closemodal" class="closemodal">
      ×
    </div>
  </div>
</section>
<!--モーダルエリアここまで -->


